<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon-32x32.png') }}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="{{ home is defined and home ? 'home' : '' }} bg-light">
        {{ include('_header.html.twig', {}, with_context=false) }}
        <main class="container h-100 py-5">
            {% for flash_message in app.flashes('info') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ flash_message|nl2br }}
                    <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for flash_message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ flash_message|nl2br }}
                    <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for flash_message in app.flashes('warning') %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ flash_message|nl2br }}
                    <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for flash_message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ flash_message|nl2br }}
                    <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
        {{ include('_footer.html.twig', {}, with_context=false) }}
    </body>
</html>
